body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background:#FFF;
	margin: 0;
	padding: 0;
	color: #000;
}
.container {width: 800px; display: block; margin-left: auto; margin-right: auto; padding-top:20px; padding-bottom:50px}
img {padding-bottom:30px;}
.title {display:block; border-bottom:#333 solid thin; font: bold 40px "Times New Roman", Times, serif; text-align:center; padding:20px; color:#666}
.warning{color:#F00;}
.left{float:left; text-align:right; padding:10px; display:table-cell; width:260px}
.right{float:right; text-align:left; padding:10px; display:table-cell; width:480px}
input{background-color:#CCC}
textarea{background-color:#CCC}
.clearfloat {clear:both; height:0; font-size: 1px; line-height: 0px;}
.line{width:auto; height:2px; background-color:#666;}
.spacer{height:50px; width:auto}
#schoolData{float:right; width:100px}
/*#schoolFilmApplicationForm{}*/